<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta nam="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home questionnaire</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to the quiz system</h1>
        <div class="button-group">
            <a th:href="@{/login}" class="btn-login">Login</a>
            <a th:href="@{/register}" class="btn-register">Register</a>
        </div>
    </div>
</body>
</html>